*{
    font-family: 'Rubik', sans-serif;
}

body {
    margin:0;
    padding:0;
    border:0;
}

h1{
    padding-top: 20px;
    color: lightseagreen;
    text-align:center;
}

hr{
    color: lightseagreen;
}

.navbar{
    background-color: initial !important;
}
 
.image1 {
    position:relative;
    background: url("../assets/images/fondo-codigo-2.jpg") no-repeat fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 550px;
}
 
.content {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
    background: #FFF;
    z-index:2;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
    color: black;
}

.blog-footer {
    padding: 3vh;
    color: #727272;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}

ul{
    columns: 3;
    list-style: none;
}

.iconos-lenguajes{
    padding: 19px;
    width: 14vh;
    height: 14vh;
}

/* efectos logos de lenguajes */

.inner {
    overflow: hidden;
}
  
.inner img {
    transition: all 1s ease;
}
  
.inner:hover img {
    transform: scale(1.1);
}

@media only screen and (max-width: 500px) {
    ul{
        columns: 1;
        list-style: none;
    }
    ul.especial{
        columns: 3;
        list-style: none;
    }
}

.otros{
    display:block;
    margin-left: auto;
    margin-right: auto;
}