
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" id="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Daniel Vilches Rodriguez</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto" style="width: 430px;">
        <li class="nav-item">
          <a class="text-light nav-link" href="#SobreMi">Sobre Mi</a>
        </li>
        <li class="nav-item">
          <a class="text-light nav-link" href="#Proyectos">Proyectos</a>
        </li>
        <li class="nav-item">
          <a class="text-light nav-link" href="#Conocimientos">Conocimientos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

  <div class="image1"></div>
  <a name="SobreMi" id="SobreMi"></a> <!-- ancla de Sobre Mi -->
  <div class="content ">
    <h1>Sobre Mi</h1>
    <hr>
    <div class="container">
        <ul class="col3">
            <li class="inner especial"><i class="fas fa-book"></i> Estudios:<br><br>Desarrollo de Aplicaciones Web </li><br>
            <li class="inner especial"><i class="fas fa-brain"></i> Cursos: <br><br>Angular 11, Bootstrap </li><br>
            <li class="inner especial"><i class="fas fa-dumbbell"></i> Puntos Fuertes: <br><br>Creatividad, Proactividad, Interes </li><br>
          </ul>
    </div>
  </div>
  <a name="Proyectos" id="Proyectos"></a> <!-- ancla de proyectos -->
  <div class="content">
    <h1>Proyectos</h1>
    <hr>
    <div class="container">
      <div class="row">
        <div class="col mb-4">
          <div class="card text-center h-100">
            <div class="inner">
            <img src="../assets/images/biblioteca-juegos.jpg" class="card-img-top" alt="biblioteca-juegos">
            </div>
            <div class="card-body">
              
                <h5 class="card-title">Biblioteca De Videojuegos</h5>
                <a href="#"><button class="btn btn-info">Ver Proyecto</button></a>
              
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card text-center h-100">
            <div class="inner">
              <img src="../assets/images/CRUD.png" class="card-img-top" alt="CRUD">
            </div>
            <div class="card-body">
              
                <h5 class="card-title">CRUD De Recordatorios</h5>
                <a href="#"><button class="btn btn-info">Ver Proyecto</button></a>
              
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card text-center h-100">
            <div class="inner">
              <img src="../assets/images/gimnasio.jpg" class="card-img-top" alt="gimnasio">
            </div>
            <div class="card-body">
              
                <h5 class="card-title">Página de Gimnasio</h5>
                <a href="#"><button class="btn btn-info">Ver Proyecto</button></a>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a name="Conocimientos" id="Conocimientos"></a> <!-- ancla de conocimientos -->
  <div class="content">
    <h1>Conocimientos</h1>
    <hr>
  </div>
  
    <div class="container">
      <ul class="col3 especial">
        <li class="inner especial"><img src="../assets/images/iconos-lenguajes/html.png" class="iconos-lenguajes otros" alt="html"></li>
        <li class="inner especial"><img src="../assets/images/iconos-lenguajes/css.png" class="iconos-lenguajes otros" alt="css"></li>
        <li class="inner especial"><img src="../assets/images/iconos-lenguajes/javascript.png" class="iconos-lenguajes otros" alt="javascript"></li>
        <li class="inner especial"><img src="../assets/images/iconos-lenguajes/angular.png" class="iconos-lenguajes otros" alt="angular"></li>
        <li class="inner especial"><img src="../assets/images/iconos-lenguajes/bootstrap.png" class="iconos-lenguajes otros" alt="bootstrap"></li>
        <li class="inner especial"><img src="../assets/images/iconos-lenguajes/php.png" class="iconos-lenguajes otros" alt="php"></li>
      </ul>
    </div>
  
  <footer class="blog-footer">
    <p><i class="bi bi-github"><i class="fab fa-github"></i><a href=""> GitHub</a></i></p>
    <p><i class="bi bi-twitter"><i class="fab fa-twitter"></i><a href=""> Twitter</a></i></p>
    <p><i class="bi bi-instagram"><i class="fab fa-instagram"></i><a href=""> Instagram</a></i></p>
    <p>Daniel Vilches Rodriguez</p>
  </footer>
